.btn {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-lg 
         hover:bg-blue-600 active:bg-blue-700 
         transition duration-300 ease-in-out;
}

.btn-icon {
  @apply flex items-center p-2 rounded-md hover:bg-gray-200;
}

.btn-wrapper {
  @apply inline-flex items-center space-x-2 align-middle;
}

.btn-wrapper > span {
  @apply align-middle leading-none pt-1;
}

.icon {
  @apply w-6 h-6 align-middle;
}

.btn-secondary {
  @apply bg-gray-500 hover:bg-gray-600 active:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn-cancel {
  @apply bg-gray-300 hover:bg-gray-400 active:bg-gray-500 text-gray-700 font-bold py-2 px-4 rounded-lg;
}
.btn-confirm {
  @apply bg-green-500 hover:bg-green-600 active:bg-green-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn-warning {
  @apply bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn-info {
  @apply bg-blue-300 hover:bg-blue-400 active:bg-blue-500 text-white font-bold py-2 px-4 rounded-lg;
}
.btn-danger {
  @apply bg-red-500 hover:bg-red-600 active:bg-red-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn-line-danger {
  @apply border border-red-500 hover:border-red-600 active:border-red-700 text-red-500 font-bold py-2 px-4 rounded-lg bg-white hover:bg-red-100;
}

.btn-icon-main {
  @apply text-blue-500 hover:text-blue-700 active:text-blue-800;
}
.btn-icon-secondary {
  @apply text-gray-500 hover:text-gray-600 active:text-gray-700;
}
.btn-icon-cancel {
  @apply text-gray-300 hover:text-gray-400 active:text-gray-500;
}
.btn-icon-confirm {
  @apply text-green-500 hover:text-green-600 active:text-green-700;
}
.btn-icon-warning {
  @apply text-yellow-500 hover:text-yellow-600 active:text-yellow-700;
}
.btn-icon-info {
  @apply text-blue-300 hover:text-blue-400 active:text-blue-500;
}
.btn-icon-danger {
  @apply text-red-500 hover:text-red-600 active:text-red-700;
}
.switch {
  @apply relative inline-block w-16 h-8;
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer inset-0 rounded-full transition-all duration-300;
  background: linear-gradient(45deg, #64b5f6, #1976d2);
}

.slider:before {
  @apply absolute content-[''] h-6 w-6 left-1 bottom-1 rounded-full transition-all duration-300;
  background: linear-gradient(45deg, #ffeb3b, #fdd835);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background: linear-gradient(45deg, #283593, #1a237e);
}

input:checked + .slider:before {
  @apply translate-x-8;
  background: linear-gradient(45deg, #bdbdbd, #9e9e9e);
}

.slider-icons {
  @apply opacity-80;
}

input:checked ~ .fa-sun {
  @apply opacity-50;
}

input:not(:checked) ~ .fa-moon {
  @apply opacity-50;
}
