.btn {
  @apply font-bold py-2 px-4 rounded-lg 
    bg-[var(--button-primary-background)] text-[var(--button-primary-text)]
    hover:bg-[var(--button-primary-hover-background)]
    active:bg-[var(--button-primary-active-background)]
    transition duration-300 ease-in-out;
}
.btn-line {
  @apply border border-[var(--button-line-background)] 
    text-[var(--button-primary-text)] font-bold py-2 px-4 rounded-lg 
    hover:bg-[var(--button-line-hover-background)]
    active:bg-[var(--button-line-active-background)]
    transition duration-300 ease-in-out;
}

.toggle-btn {
  @apply font-bold py-2 px-4 rounded-lg 
    bg-[var(--button-toggle-background)] text-[var(--button-toggle-text)]
    hover:bg-[var(--button-toggle-hover-background)]
    active:bg-[var(--button-toggle-active-background)]
    transition duration-300 ease-in-out;
}

.btn-icon {
  @apply flex items-center p-2 rounded-md 
    transition duration-300 ease-in-out;
}
.btn-icon:hover {
  background-color: var(--icon--hover-color);
}

.btn-wrapper {
  @apply inline-flex items-center space-x-2 align-middle;
}

.btn-wrapper svg {
  color: var(--button-icon-color);
}

.btn-wrapper > span {
  @apply align-middle leading-none;
}

.icon {
  @apply w-6 h-6 align-middle;
}

/* 버튼 스타일 - 라이트 모드 */
.btn-secondary {
  @apply bg-[var(--color-gray-500)] hover:bg-[var(--color-gray-600)] active:bg-[var(--color-gray-700)] text-[var(--vt-c-white)];
}
.btn-cancel {
  @apply bg-[var(--color-gray-300)] hover:bg-[var(--color-gray-400)] active:bg-[var(--color-gray-500)] text-[var(--color-text-gray-700)];
}
.btn-confirm {
  @apply bg-[var(--color-green-500)] hover:bg-[var(--color-green-600)] active:bg-[var(--color-green-700)] text-[var(--vt-c-white)];
}
.btn-warning {
  @apply bg-[var(--color-yellow-500)] hover:bg-[var(--color-yellow-600)] active:bg-[var(--color-yellow-700)] text-[var(--vt-c-white)];
}
.btn-info {
  @apply bg-[var(--color-blue-300)] hover:bg-[var(--color-blue-400)] active:bg-[var(--color-blue-500)] text-[var(--vt-c-white)];
}
.btn-danger {
  @apply bg-[var(--color-red-500)] hover:bg-[var(--color-red-600)] active:bg-[var(--color-red-700)];
}
.btn-line-danger {
  @apply border border-[var(--color-red-500)] hover:border-[var(--color-red-600)] active:border-[var(--color-red-700)] text-[var(--color-red-500)];
}

/* 아이콘 버튼 - 라이트 모드 */
.btn-icon-main {
  @apply text-[var(--color-blue-500)] hover:text-[var(--color-blue-700)] active:text-[var(--color-blue-800)];
}
.btn-icon-secondary {
  @apply text-[var(--color-gray-500)] hover:text-[var(--color-gray-600)] active:text-[var(--color-gray-700)];
}
.btn-icon-cancel {
  @apply text-[var(--color-gray-300)] hover:text-[var(--color-gray-400)] active:text-[var(--color-gray-500)];
}
.btn-icon-confirm {
  @apply text-[var(--color-green-500)] hover:text-[var(--color-green-600)] active:text-[var(--color-green-700)];
}
.btn-icon-warning {
  @apply text-[var(--color-yellow-500)] hover:text-[var(--color-yellow-600)] active:text-[var(--color-yellow-700)];
}
.btn-icon-info {
  @apply text-[var(--color-blue-300)] hover:text-[var(--color-blue-400)] active:text-[var(--color-blue-500)];
}
.btn-icon-danger {
  @apply text-[var(--color-red-500)] hover:text-[var(--color-red-600)] active:text-[var(--color-red-700)];
}

/* 버튼 스타일 - 다크 모드 */
.dark .btn-secondary {
  @apply bg-[var(--color-gray-500)] hover:bg-[var(--color-gray-600)] active:bg-[var(--color-gray-700)] text-white;
}
.dark .btn-cancel {
  @apply bg-[var(--color-gray-300)] hover:bg-[var(--color-gray-400)] active:bg-[var(--color-gray-500)] text-[var(--color-text-gray-500)];
}
.dark .btn-confirm {
  @apply bg-[var(--color-green-500)] hover:bg-[var(--color-green-600)] active:bg-[var(--color-green-700)] text-white;
}
.dark .btn-warning {
  @apply bg-[var(--color-yellow-500)] hover:bg-[var(--color-yellow-600)] active:bg-[var(--color-yellow-700)] text-white;
}
.dark .btn-info {
  @apply bg-[var(--color-blue-300)] hover:bg-[var(--color-blue-400)] active:bg-[var(--color-blue-500)] text-white;
}
.dark .btn-danger {
  @apply bg-[var(--color-red-500)] hover:bg-[var(--color-red-600)] active:bg-[var(--color-red-700)] text-white;
}
.dark .btn-line-danger {
  @apply border border-[var(--color-red-500)] hover:border-[var(--color-red-600)] active:border-[var(--color-red-700)] text-[var(--color-red-500)] bg-transparent;
}

/* 아이콘 버튼 - 다크 모드 */
.dark .btn-icon-main {
  @apply text-[var(--color-blue-500)] hover:text-[var(--color-blue-700)] active:text-[var(--color-blue-800)];
}
.dark .btn-icon-secondary {
  @apply text-[var(--color-gray-500)] hover:text-[var(--color-gray-600)] active:text-[var(--color-gray-700)];
}
.dark .btn-icon-cancel {
  @apply text-[var(--color-gray-300)] hover:text-[var(--color-gray-400)] active:text-[var(--color-gray-500)];
}
.dark .btn-icon-confirm {
  @apply text-[var(--color-green-500)] hover:text-[var(--color-green-600)] active:text-[var(--color-green-700)];
}
.dark .btn-icon-warning {
  @apply text-[var(--color-yellow-500)] hover:text-[var(--color-yellow-600)] active:text-[var(--color-yellow-700)];
}
.dark .btn-icon-info {
  @apply text-[var(--color-blue-300)] hover:text-[var(--color-blue-400)] active:text-[var(--color-blue-500)];
}
.dark .btn-icon-danger {
  @apply text-[var(--color-red-500)] hover:text-[var(--color-red-600)] active:text-[var(--color-red-700)];
}

.switch {
  @apply relative inline-block w-16 h-8;
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer inset-0 rounded-full transition-all duration-300;
  background: linear-gradient(45deg, #64b5f6, #1976d2);
}

.slider:before {
  @apply absolute content-[''] h-6 w-6 left-1 bottom-1 rounded-full transition-all duration-300;
  background: linear-gradient(45deg, #ffeb3b, #fdd835);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background: linear-gradient(45deg, #283593, #1a237e);
}

input:checked + .slider:before {
  @apply translate-x-8;
  background: linear-gradient(45deg, #bdbdbd, #9e9e9e);
}

.slider-icons {
  @apply opacity-80;
}

input:checked ~ .fa-sun {
  @apply opacity-50;
}

input:not(:checked) ~ .fa-moon {
  @apply opacity-50;
}
