.snippet-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4;
}

.snippet-list {
  @apply flex flex-col space-y-4;
}
.tag {
  @apply inline-block shadow-md text-sm font-medium transition-[background-color] duration-[0.3s] ease-[ease] mr-2 px-3 py-1 rounded-full max-w-[200px] whitespace-nowrap overflow-hidden text-ellipsis;
  background-color: var(--card-tag-background);
  color: var(--card-tag-text);
}
.tag:hover {
  background-color: var(--card-tag-hover-background);
  color: var(--card-tag-hover-text);
  cursor: pointer;
}
